<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HotelManagement" connectionString="Server=DESKTOP-M7I9MAH;Database=qlks_update2;User Id=sa;Password=0961500817;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>