<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="HotelManagement" connectionString="Server=HIEU;Database=QLKS;User Id=sa;Password=0961500817;" providerName="System.Data.SqlClient"/>-->
		<add name="HotelManagement" connectionString="Server=DESKTOP-C4MTO0T;Database=QLKS1;User Id=sa;Password=thanhdancodoc.2703;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>