<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Button" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.ButtonThematic" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Labels" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.LollipopControls" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.MaterialDesign" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Metro" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.MiscControls" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Transitions" version="1.0.2" targetFramework="net472" />
</packages>